/*
* Barebones V3
* Copyright 2019 Steve Cochran
*
* Based of Skeleton by Dave Gamache
*
* Free to use under the MIT license.
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Media Breakpoints
- Variables
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* ENV Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Media breakpoint variables for use in media queries
* 	Note: this section is currently commented out pending release of
* 	final CSS env() spec
*  Breakpoints based on
*	 https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
*
*/


/* CSS Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  /* dark theme: light background, dark text, grey/blue accent */
  --theme-hue: 0;
  --accent-hue: 0;

  --text-color-richer: hsl(var(--theme-hue), 0%, 95%);
  --text-color-normal: hsl(var(--theme-hue), 0%, 80%);		/* text color; button:hover:focus color */
  --text-color-softer: hsl(var(--theme-hue), 0%, 67%);		/* button color; button:hover border */

  --accent-color: hsl(var(--accent-hue), 0%, 35%);				/* link; button-primary bg+border; textarea,select:focus border */
  --accent-color-hover: hsl(var(--accent-hue), 0%, 42%);	/* button-primary:hover:focus bg+border */

  --border-color: hsl(var(--theme-hue), 0%, 27%);					/* button border */
  --border-color-softer: hsl(var(--theme-hue), 0%, 20%);	/* textarea,select,code,td,hr border	 */
  --border-color-hover: hsl(var(--theme-hue), 0%, 42%);	  /* textarea,select,code,td,hr border	 */

  --background-color: hsl(var(--theme-hue), 0%, 12%);			/* body background; textarea,select background */
  --background-color-softer: hsl(var(--theme-hue), 0%, 23%);
  --code-background: hsl(var(--theme-hue), 0%, 5%);				/* code background*/

  --link-color: hsl(210, 85%, 55%);
  --link-color-opacity: hsl(207, 86%, 57%, 0.35);
  --link-color-hover: white;

  --button-primary-color: white;

  /* Note: Skeleton was based off a 10px font sizing for REM  */
  --base-font-size: 16px;

  /* Grid Defaults - default to match orig skeleton settings */
  --grid-max-width: 960px;

  --font-family: 'PT Sans Narrow', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --font-family-title: 'Oswald', 'PT Sans Narrow', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

html.light-theme {
  /* light theme: light background, dark text, grey/blue accent */
  --text-color-richer: hsl(var(--theme-hue), 0%, 5%);
  --text-color-normal: hsl(var(--theme-hue), 0%, 13%);		/* text color; button:hover:focus color */
  --text-color-softer: hsl(var(--theme-hue), 0%, 33%);		/* button color; button:hover border */

  --border-color: hsl(var(--theme-hue), 0%, 73%);					/* button border */
  --border-color-softer: hsl(var(--theme-hue), 0%, 82%);	/* textarea,select,code,td,hr border	 */

  --background-color: hsl(var(--theme-hue), 0%, 100%);		/* transparent body background; textarea,select background */
  --background-color-softer: hsl(var(--theme-hue), 0%, 90%);
  --code-background: hsl(var(--theme-hue), 0%, 95%);			/* code background*/

  --link-color-hover: black;
}


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* CSS Grid depends much more on CSS than HTML, so there is less boilerplate
	 than with skeleton. Only basic 1-4 column grids are included.
	 Any additional needs should be made using custom CSS directives */


.grid-container {
	position: relative;
	max-width: var(--grid-max-width);
	margin: 0 auto;
	padding: 1.5rem;
	display: grid;
  grid-gap: 30px;

	/* by default use min 200px wide columns auto-fit into width */
	grid-template-columns: minmax(260px, 1fr);
}

/* grids to 3 columns above mobile sizes */
@media (min-width: 769px) {
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
	}

	/* basic grids */
	.grid-container.fifths {
		grid-template-columns: repeat(5, 1fr);
	}
	.grid-container.quarters {
		grid-template-columns: repeat(4, 1fr);
	}
	.grid-container.thirds {
		grid-template-columns: repeat(3, 1fr);
	}
	.grid-container.halves {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-container.full {
		grid-template-columns: 1fr;
	}

}





/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}
body {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--text-color-normal);
  background-color: var(--background-color);;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6, .title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 300;
}
h1, .h1 { font-family: var(--font-family-title); font-size: 2.5rem; line-height: 1.2;  letter-spacing: -.1rem; }
h2, .h2 { font-family: var(--font-family-title); font-size: 2.25rem; line-height: 1.25; letter-spacing: -.1rem; }
h3, .h3 { font-family: var(--font-family-title); font-size: 1.9rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4, .h4 { font-family: var(--font-family-title); font-size: 1.5rem; line-height: 1.35; letter-spacing: -.08rem; }
h5, .h5 { font-family: var(--font-family-title); font-size: 1.25rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6, .h6 { font-family: var(--font-family-title); font-size: 1rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 769px) {
  h1, .h1 { font-size: 3.15rem; }
  h2, .h2 { font-size: 2.6rem; }
  h3, .h3 { font-size: 2.25rem; }
  h4, .h4 { font-size: 1.9rem; }
  h5, .h5 { font-size: 1.4rem; }
  h6, .h6 { font-size: 1rem; }
}

p {
  margin-top: 0;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  cursor: pointer;
  color: var(--link-color);
  text-decoration: underline;
}
a:hover {
  color: var(--link-color-hover);
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 2.25rem;
  padding: 0 2rem;
  color: var(--text-color);
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  box-sizing: border-box;
  font-family: var(--font-family);
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: var(--text-color-normal);
  border-color: var(--text-color-softer);
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: var(--button-primary-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  color: var(--button-primary-color);
  background-color: var(--accent-color-hover);
  border-color: var(--accent-color-hover);
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  color: var(--text-color-normal);
  height: 2.25rem;
  padding: 0.25rem 0.5rem; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: var(--background-color);
  border: 1px solid var(--border-color-softer);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-family: var(--font-family);
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
  appearance: textfield;
}
textarea {
  min-height: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
input[type="email"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="text"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover {
  border: 1px solid var(--border-color-hover);
  outline: 0;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--link-color);
  outline: 0;
}
input[type="email"]:invalid,
input[type="number"]:invalid,
input[type="search"]:invalid,
input[type="text"]:invalid,
input[type="tel"]:invalid,
input[type="url"]:invalid,
input[type="password"]:invalid,
textarea:invalid,
select:invalid {
  border: 1px solid hsl(0, 86%, 62%);
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 700;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.25rem;
  font-weight: normal;
}
select optgroup,
select option {
  font-family: var(--font-family);
  font-size: 1rem;
}
/* Fix FF select */
@-moz-document url-prefix() {
  select optgroup {
    font-style: normal;
    background-color: var(--background-color-softer);
    letter-spacing: 0;
  }
  select option {
    font-size: 0.8rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.content ul {
  list-style: disc inside;
}
.content ol {
  list-style: decimal inside;
}
.content ol,
.content ul {
  padding-left: 0;
  margin-top: 0;
  margin-left: 0.5rem;
}
.content ul ul,
.content ul ol,
.content ol ol,
.content ol ul {
	font-size: 1rem;
	margin: 0.25rem 0 0.25rem 1.25rem;
	color: var(--text-color-softer);
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: 0.25rem;
  margin: 0 0.25rem;
  font-size: 0.8rem;
  white-space: nowrap;
  background: var(--code-background);
  border: 1px solid var(--border-color-softer);
  border-radius: 4px;
  font-family: 'Consolas', 'Courier New', monospace;
}
pre > code {
  display: block;
  padding: 0.5rem 1rem;
  white-space: pre;
  overflow: auto;
}


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  width: 100%;
}
th,
td {
  padding: 0.25rem;
  border-bottom: 1px solid var(--border-color-softer);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 0.5rem;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
}
.u-align-center {
	text-align: center;
}
.u-align-left {
	text-align: left;
}
.u-align-right {
	text-align: right;
}
.u-marginless {
  margin: 0;
}
.u-block {
  margin-bottom: 2rem !important;
}
.u-weight-bold {
  font-weight: 700 !important;
}
.u-family-title {
  font-family: var(--font-family-title);
}
.u-overflow-hidden {
  overflow: hidden;
}
.u-pos-relative {
  position: relative;
}
.u-flex {
  display: flex;
}
.u-valign {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid var(--border-color-softer);
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Mobile */
@media (max-width: 768px) {
  .hidden-mobile { display: none; }
}

/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 769px) {
  .hidden-tablet { display: none; }
}

/* Larger than tablet */
@media (min-width: 1024px) {}

/* Larger than desktop */
@media (min-width: 1216px) {}




/* Overrites
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: none;
}

input:focus,
button:focus,
select:focus {
  box-shadow: 0 0 0 2px var(--link-color-opacity);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  text-align: right;
  font-family: var(--font-family-title);
  width: 3.75rem;
}

label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
label > .label-body {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  width: 1.15rem;
  height: 1.15rem;
  border-radius: 2px;
  flex-shrink: 0;
  cursor: pointer;
  outline: none;
}
input[type="checkbox"]:checked {
  border: 1px solid var(--background-color-softer);
  background: var(--background-color-softer);
}
input[type="checkbox"]:not(:disabled):hover {
  border: 1px solid var(--border-color-hover);
}
input[type="checkbox"]:after {
  content: "";
  width: 10px;
  height: 6px;
  border: 2px solid var(--text-color-richer);
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  margin-bottom: 2px;
  visibility: hidden;
}
input[type="checkbox"]:checked:after { visibility: visible; }

input[type="radio"] {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
  outline: none;
}
input[type="radio"]:checked {
  border: 1px solid var(--background-color-softer);
  background: var(--background-color-softer);
}
input[type="radio"]:not(:disabled):hover {
  border: 1px solid var(--border-color-hover);
}
input[type="radio"]:after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background: var(--text-color-richer);
  border-radius: 50%;
  visibility: hidden;
}
input[type="radio"]:checked:after { visibility: visible; }

button { position: relative; overflow: hidden; }
